* {
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;

}

body{
    margin: 0;
}

.btn{
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.1rem;
    margin: 0 0.1rem;
    border-radius: 0.2em;
    
    color: rgb(99, 99, 235);
}

header, nav, footer{
    padding: 16px;
    text-align: center;
}

header{
    background-color: #baceeb;
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;

}

nav{
    background-color: #dcdcdc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5vh;
}

main{
    height: 75vh;
}

footer{
    background-color: #dcdcdc;
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
    
}

