* {
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;

}

body{
    margin: 0;
}

.btn{
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.1rem;
    margin: 0 0.1rem;
    border-radius: 0.2em;
    
    color: rgb(99, 99, 235);
}

header, nav, footer{
    padding: 16px;
    text-align: center;
}

header{
    background-color: #baceeb;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;

}

nav{
    background-color: #dcdcdc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 25px;
}

main{
    height: auto;
    display: flex;
    text-align: center;
    
}

article{
    background-color: beige;
    display: flex;
    flex: 2;
    flex-direction: column;

}

.left{
    background-color: rgb(238, 233, 93);
    display: flex;
    flex: 1;
    flex-direction: column;
}

.right{
    background-color: rgb(239, 138, 240);
    display: flex;
    flex: 1;
    flex-direction: column;
}

.btn-news{
    text-decoration: none;
    padding: 10px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

footer{
    background-color: #dcdcdc;
    display: flex;
    height: 25px;
    justify-content: center;
    align-items: center;
    
}

