* {
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
    

}

body{
    margin: 0;
    background-color: #FEFAE0;
    color: black;
}

.btn{
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.1rem;
    margin: 0 0.1rem;
    border-radius: 0.2em;
    
    color: #5F6F52;
}

header, nav, footer{
    padding: 16px;
    text-align: center;
}

header{
    background-color: #5F6F52;
    color: white;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;

}

nav{
    background-color: #bebcbc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 25px;
}

main{
    height: auto;
    display: flex;
    text-align: center;
    
}

article{
    background-color: #E8F5E9;
    border: 1px solid rgba(255, 255, 255, 0.1); 
    
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    flex: 2;
    flex-direction: column;

}

section {
  background-color: #FFFFFF; 
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
}

aside{
    background-color: #6e8649;
    margin: 10px 10px;
    color: white;
}
.left{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.right{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.btn-news{
    text-decoration: none;
    padding: 10px;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

footer{
    background-color: #5e7749;
    display: flex;
    height: 35px;
    justify-content: center;
    align-items: center;
    
}

@media(max-width: 768px){
    header{
        display: flex;
        justify-content: center;
        align-items: center;


    }
    main{
        flex-direction: column;
        
    }

    article{
        display: flex;
        justify-content: center;
        align-items: center;
        order: 1;
        flex: 1;
        text-align: start;
        padding: 10px;
    }

    .left{
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2;
    }

    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        order: 3;
        
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

}

